@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #dda853;
  --secondary-color: #9acbd0;

  --white-color: #f1e7e7;
  --orange-color: #ec5228;

  --error-color: #d84040;
  --success-color: #16c47f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 60px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}

.todo-app {
  padding: 20px;
  max-width: 44rem;
  border-radius: 6px;
  margin-inline: auto;
  background-color: var(--secondary-color);
  height: 70vh;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
}

button,
input {
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 20px 0;
  color: #b6cbbd;
}
